---
layout: default
title: Alex Paz
subtitle: Latest blog posts
---

<h3>Projects</h3>

{% if site.categories.project.size >= 1 %}
	{% for post in site.categories.project %}
		<div class='post-project row-fluid'>
<!-- 			<div class='post-project-img span2'> -->
<!-- 				<img src="/assets/img/project/{{ post.project-img }}" /> -->
<!-- 			</div> -->
			<div class='post-project-main span12'>
				<article id='{{ post.id }}'>
					<h4><a href='{{ post.url }}'>{{ post.title }}</a></h4>
					<strong>{{ post.project-description }}</strong>
					<p class='muted'><em>{{ post.project-company }} ({{ post.project-date-start }} &mdash; {{ post.project-date-end }})</em></p>
				</article>
			</div>
		</div>
	{% endfor %}
{% else %}
	<p>No projects... I must be bored.</p>
{% endif %}
