<div id='modal-contact' class='message'>
	<form id='footer-contact' method='post' action='send.php'>
	<ul>
		<li>
			<label for='name'>Name</label>
			<input type="text" value="" id="name" name="name" />
		</li>
		<li>
			<label for='email'>Email</label>
			<input type="text" value="" id="email" name="email" />
		</li>
		<li>
			<label for='message'>Message</label>
			<textarea id='comment' rows='4' cols='33' name='message'></textarea>
		</li>
		<li>
			<input id='contact-submit' type='submit' value='Send' class='submit button' />
		</li>
	</ul>
	</form>
	<h6>or simply email me: info@ajpaz.com</h6>
	<ul class='contact-info-icon'>
		<li><a href='http://twitter.com/#!/alexjpaz' class='contact-info-icon-twitter'><span>@alexjpaz</span></a></li>
		<li><a href='http://www.linkedin.com/in/ajpaz' class='contact-info-icon-linkedin'><span>ajpaz</span></a></li>
		<li><a href='https://github.com/alexjpaz' class='contact-info-icon-github'><span>ajpaz</span></a></li>
		<li><a href='http://www.fb.com/alexanderthepaz' class='contact-info-icon-facebook'><span>alexanderthepaz</span></a></li>
	</ul>
</div>