body {
	padding-top: 20px;
	padding-bottom: 40px;
}

.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.container-narrow > hr {
	margin: 30px 0;
}

.pseudo-page {
}

.jumbotron {
	text-align: center;
	color: #aaa;
	letter-space: 1em;	
}

.about-large {
	font-size: 1.3em;
	line-height: 1.7em;
}

.about-large li {
	font-size: 1.3em;
	line-height: 1.7em;
}

.about-center {
	text-align: center;
}

.post-project {
	margin-bottom: 20px;
}

.post-project-img {
}

.post-project-main {
	float: left;
}