@import url(http://fonts.googleapis.com/css?family=Exo+2);

body {
	background: #fafafa;
}


.masthead {
}

.masthead__branding {

	margin: 0;
}

.feature {
	padding: 20px;
	background: #fafafa;
	border: 1px #eee solid;
}

.feature__title {
	margin: 0;
}

.feature__lead {
	font-size: 1.25em;
	width: 75%;
}

.feature__links {
	font-size: 2em;
}

.feature .btn--main {
	/*background: #5cb85c;*/
	/*border-color: #4cae4c;*/
}

.container--content { 
}

.pseudo-page {
}

.jumbo__text, .jumbo__text h1 {
	min-height: 1px;
	font-family: 'Exo 2', sans-serif;
	font-size: 2em;
	letter-space: 1em;	
	color: #fff;
	text-shadow: 2px 2px 1px #666;
}


.jumbo {
	padding: 0px 10px 20px;
	background-image: url(../img/triangular.png)
} 

@media (min-width: 768px) {
	.jumbo {
		padding: 30px 10px;
	}
}

.jumbo__heading {
	margin: 0 auto;
	text-align: center;
}

.jumbo__img {
	border: 5px solid #fafafa;
	box-shadow: 2px 2px 1px #666;
	width: 192px;
}

@media (min-width: 768px) {
	.jumbo * {
		/*outline: red 2px dashed;*/
	}
	.jumbo__heading {
		text-align: left;
		width: 480px;
	}
	.jumbo__text {
		float: left;
	}
	.jumbo__img {
		float: right;
		width: 192px;
	}
}

.about-large {
	font-size: 1.3em;
	line-height: 1.7em;
}

.about-large li {
	font-size: 1.3em;
	line-height: 1.7em;
}

.about-center {
	text-align: center;
}

.post-project {
	margin-bottom: 20px;
}

.post-project-img {
}

.post-project-main {
	float: left;
}

.text--strikethrough {

}

.posts__article {
	margin-bottom: 20px;
}

.posts__title {
	font-weight: bold;
	border-bottom: 1px solid #aaa;
	padding-bottom: 10px;
}

.footer {
	display: none;
}

.front .posts {
	font-size: 1.5em;
}

.front__find-me {
	list-style: none;
	margin: 0;
	padding: 0;
}

.front__find-me a {
	text-align: center;
	display: block;
	border: 1px solid rgba(0,0,0,0.5);
	margin-bottom: 10px;
	padding: 10px;
	color: #777;
	background: #fffafa;
	border-radius: 4px;
}

.front__find-me a:hover {
	text-decoration: none;
	border-color: #444;
	color: #444;
	background-color: #666;
}

.front {
	margin-top: -20px;
}

@media (min-width: 768px) {
	body {
		overflow-y: scroll;
	}
}

@media (min-width: 768px) {

	.front__find-me li {
		display: inline-block;
		margin-right: 10px;
	}
	.front__find-me {
		text-align: center;
	}
}
