@import url(http://fonts.googleapis.com/css?family=Exo+2);

body {
	background: #fafafa;
}

.masthead {
}

.masthead__branding {

	margin: 0;
}

.feature {
	padding: 20px;
	background: #fafafa;
	border: 1px #eee solid;
}

.feature__title {
	margin: 0;
}

.feature__lead {
	font-size: 1.25em;
	width: 75%;
}

.feature__links {
	font-size: 2em;
}

.feature .btn--main {
	/*background: #5cb85c;*/
	/*border-color: #4cae4c;*/
}

.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.container-narrow > hr {
	margin: 30px 0;
}

.pseudo-page {
}

.jumbotron {
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	color: #fefefe;
	letter-space: 1em;	
	background: #666;
	text-shadow: 2px 2px #444;
}

.jumbotron h1 {
	margin: 0;
}

.about-large {
	font-size: 1.3em;
	line-height: 1.7em;
}

.about-large li {
	font-size: 1.3em;
	line-height: 1.7em;
}

.about-center {
	text-align: center;
}

.post-project {
	margin-bottom: 20px;
}

.post-project-img {
}

.post-project-main {
	float: left;
}

.text--strikethrough
