---
layout: default
title: Blog
nav: top
subtitle: Latest blog posts
post__category: blog
posts__title: Blog

---

<div class='posts posts--{{page.post__category}}'>
	<h2 class='posts__title'>{{ page.posts__title }}</h2>
	{% for post in site.posts %}
		{% if post.categories contains page.post__category %} 
				<div class='posts__article-row'>
					<div class='posts__article'>
						<article id='{{ post.id }}'>
							<h3 class='posts__article-title'>{{ post.title }}</h3>
							<strong>{{ post.project-description }}</strong>
							<p class='muted'><em>{{ post.date }}</em></p>
							<div class='posts__article-content'>
								{{ post.content }}
							</div>
						</article>
					</div>
				</div>
		{% endif %}
	{% endfor %}
</div>
