<div class='posts posts--{{page.post__category}}'>
	<h2 class='posts__title'>{{ page.posts__title }}</h2>
	{% if site.categories.project.size >= 1 %}
		{% for post in site.categories.project %}
			<div class='posts__article-row row'>
				<div class='posts__article col-md-12'>
					<article id='{{ post.id }}'>
						<h3 class='posts__article-title'>{{ post.title }}</h3>
						<strong>{{ post.project-description }}</strong>
						<p class='muted'><em>{{ post.project-company }} ({{ post.project-date-start }} &mdash; {{ post.project-date-end }})</em></p>
						<div class='posts__article-content'>
							{{ post.content }}
						</div>
					</article>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>No projects... I must be bored.</p>
	{% endif %}
</div>
