---
layout: home
---

{%- include livejs.html -%}

<div class='hero' markdown="1">
  <img src="https://1.gravatar.com/avatar/830145a71ea797aaff758c7432411d2a?size=256" alt="A picture of Alexander Paz" />

  <h1>I am <strong>Alexander Paz</strong> / <a href='https://alexjpaz.com'>@alexjpaz</a></h1>

  <p>
    <strong>
      A full stack staff software engineer for <a href="https://www.linkedin.com/in/ajpaz">realtor.com</a> with over seven years of experience developing professional software.
    </strong>
  </p>

  <p>
  I also enjoy <em>Music</em>, <em>Excercising</em>, <em>Gaming</em>, and making silly apps.
  </p>

</div>

{{ content }}
